<h1> Payment </h1>
<div class="row">
	<% if create_order? %>
		<%= form_for(:payments, url:payments_path) do |f| %>
			<table class="table">
				<caption>Order: <%= current_order.id %> | Total Cost: $ <%= current_order.total_cost %> | 
					Status: <%= current_order.status %>
				</caption>
				<thread>
				<tr>
					<th>Item ID</th>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Product Price($)</th>
					<% if current_order.status == "UnPaid" %>
						<th>Operation</th>
					<% end %>
				</tr>
				</thread>
				<tbody>
					<%= render current_order.items %>
				</tbody>
			</table> 
			<%= f.submit "Create A Payment", class:"btn btn-large btn-primary" %>
		<% end %>
	<% end %>
</div>
