<h1> Payment </h1>
<div class="row">
	<% if create_order? %>		
			<table class="table">
				<caption>Order: <%= current_order.id %> | Total Cost: $ <span id="order_cost"> <%= current_order.total_cost %></span> | 
					Status: <%= current_order.status %>
				</caption>
				<thread>
				<tr>
					<th>Item ID</th>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Product Price($)</th>
					<% if current_order.status == "UnPaid" %>
						<th>Operation</th>
					<% end %>
				</tr>
				</thread>
				<tbody id="show_items">
					<%= render current_order.items %>
				</tbody>
			</table> 
			<%= form_for(:payments, url:payments_path) do |f| %>
				<%= f.submit "Create A Payment", class:"btn btn-large btn-primary",data: {confirm: "Are you sure?"} %>
			<% end %>
	<% end %>
</div>
