<div class="row">
	<p> Name: <%= @buyer.name %> </p>
	<p> Sex: <%= @buyer.sex %> </p>
	<p> Age: <%= @buyer.age %> </p>
	<p> Favors: <%= @buyer.favors %> </p>
	<p> Email: <%= @buyer.email %> </p>
</div>
<div class="row">
	<%= render @paid_orders %>
</div>



