<div class="row">
	<p> Buyer-ID: <%= @buyer.id %> </p>
	<p> Name: <%= @buyer.name %> </p>
	<p> Email: <%= @buyer.email %> </p>
	<%= link_to "Edit My Profile", edit_buyer_path %>
</div>
<div id="show_orders" class="row">
	<%= render @orders %>
</div>

<div class="row"> <%= will_paginate @orders%></div>

