<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<%= image_tag(@product.image_url, alt: 'product') %>
	</div>
	<div class="caption">
		<p> Title: <%= @product.title %> </p>
		<p> Descrition: <%= @product.description %> </p>
		<p> Price: <%= @product.price %> </p>
		<% if sign_in? %>
		    <% if create_order? %>
				<p> add to shop cart: <%= button_to "add shop cart",items_path %>
			<% else %>
				<p> add to shop cart: <%= button_to "create a shop cart first", orders_path %>
			<% end %>
		<% else %>
			<p> add to shop cart: <%= link_to "sign in first", signin_path %> </p>
		<% end %>
	</div>
</div>