<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div>
      <ul class="nav navbar-nav pull-left">
       <li> <%= link_to "Shopping World", '#', id: "logo" %> </li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
             <li><%= link_to 'Home', '#' %></li>
             <li id="fat-menu" class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(255,255,255)">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", "#" %></li>
                  <li><%= link_to "Settings", "#" %></li>
                  <li><%= link_to "Sign_in", "#" %></li>
                  <li><%= link_to "Sign_out", "#", method: "delete" %></li>
                </ul>
             </li>
             <li id="fat-menu" class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(255,255,255)">
                  Shop Cart <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Bought", "#" %></li>
                  <li><%= link_to "Unpaid", "#" %></li>
                </ul>
          </li>     
        </ul>
      </nav>
    </div>
</nav>

